/*main style*/
html{
    height: 100%;
}

body{
    padding: 0%;
    margin: 0%;
    color: white;
    background: #161b1e; /*<= back for all website*/
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
/*--------------------------------------------END OF MAIN PART--------------------------------------------*/

/*heder style*/
header{
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 2.5em; /*<= font-size in header*/
}
/*header link style:
- Menu btn;
-Login btn;
- Main and side menu bars.*/
header a{
    padding: 0.3%;
    text-decoration: none;
    color: white;
    max-width: 100%;
}

header img{
    height: 1.5em; /*<= size of gamekot and gamekotmain*/
}

/*styles for all elements in header bar*/
.header-bar{
    margin:0.2% 0.7% 0%;
    display: flex;
    flex-direction: row;
}

.item{
    text-align: center;
    margin-right: 5px;
}

.item:hover{
    background: #323338;
    opacity: 80%;
    border-radius: 5px;
    border-bottom: white solid;
}

.left{
    display: flex;
    flex-direction: row;
    text-align: left;
    width: 20%;
}

.center{
    text-align: center;
    width: 60%;
}

.right{
    text-align: right;
    width: 20%;
}



/*drop-down menu*/
.side-menu-items{
    text-align: center;
    display: flex;
    flex-direction: row;
}

/*--------------------------------------------END OF HEADER PART--------------------------------------------*/

/*main block style*/
main{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 20px;
    margin-left: auto; /*<= justify dont work, centralisation*/
    margin-right: auto;
    color: black;
    width: 85%;
    background: white;
    border-radius: 10px;
    min-height: 90%; /*<= press down footer to bottom*/
}

/*style for shown articles*/
main>a{
    text-decoration: none;
    color: black;
}

main>a:visited{
    color: black;
}

.article_area{
    font-size: 25px;
    max-width: 100%;
}

/*styles for article area*/
.article_photo>img{
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
}

.article_photo{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.article_photo>img:hover{
    transform: scale(1.1);
}

.article_pre{
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.article_pre:hover{
    background: whitesmoke;
}

.article_title{
    max-height: 1.2em;
    overflow: hidden;
    font-weight: bold;
    font-size: 2em;
}

.article_pubdate, .article_views{
    font-size: 1.5em;
}

.article_text{
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    background: rgba(22,27,30,0.8);
    padding: 5px;
    border-radius: 5px;
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
    text-align: right;
    display: flex;
    flex-direction: column;
}

.img_in_article{
    min-width: 85%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.commentators_area{
    max-width: 100%;
}

/*style for window with comments*/
.comment_area{
    max-width: 100%;
    margin-bottom: 10px;
}

.commet_text{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.comment_aply{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.show_comm_pubdate{
    font-style: italic;
    margin-top: 10px;
}

.show_comm_author{
    font-weight: bold;
}

.show_comm_text{
    max-width: 100%;
    overflow-wrap: anywhere;
    margin-top: 5px;
}

.full_comm{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 100%;
}
/*--------------------------------------------END OF MAIN BLOCK PART--------------------------------------------*/

/*footer styles*/
footer{
    margin-top: 20px;
    padding: 20px;
    background: #323338;
}

footer a{
    color: white;
    text-decoration: none;
}

